{% extends "AppShop\PlantillaInicioAdmin.html" %}

{% load static %}

{% block contenido %}
<div class="container px-4 px-lg-5">
    <p>
        
    </p>

    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Ingresar</button>
    </form>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Ingresar</button>
    </form>

    <div class="container px-4 px-lg-5"></div>
        <p> </p>
        <a href="{% url 'registrarse' %}">Registrase</a>
    </div> 
</div> 
{% endblock %}