{% extends "PlantillaBase.html" %}

{% load static %}

{% block contenido %}

<h1 class="container", style="color:#000000">Nosotros</h1>
<h6 class="container", style="color:#343a40">En TiendaBrupi, convertimos tu casa en el hogar que soñás.</h6>
<p class="container", style="color:#343a40">Somos una empresa dedicada a la venta de artículos para el hogar y decoración.
Nuestra misión es transformar cada espacio en un lugar único, cómodo y lleno de estilo. Ofrecemos una amplia variedad de productos cuidadosamente seleccionados para ayudarte a crear ambientes que reflejen tu personalidad y necesidades.</p>
<p class="container", style="color:#343a40">Desde muebles funcionales hasta detalles decorativos, trabajamos para brindarte calidad, diseño y atención personalizada. Creemos que tu hogar debe ser el reflejo de lo que sos, y estamos acá para acompañarte en cada elección.
</p>
<p class="container", style="color:#343a40">Somos especialistas en artículos para el hogar y decoración, con productos pensados para darle estilo, confort y personalidad a cada rincón. Desde lo esencial hasta ese detalle que marca la diferencia, tenemos lo que necesitás para renovar tus espacios.</p>





{% endblock %}