{% extends "PlantillaBase.html" %}

{% load static %}

{% block contenido %}
<div class="container px-4 px-lg-5">
    <h2>Registrate como cliente</h2>
    {% if registrado %}
        <div class="alert alert-success">¡Registro exitoso! Gracias por unirte a TiendaBrupi.</div>
    {% else %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>
    {% endif %}
</div>

{% endblock %}